body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./akselAuTableau.jpg'); /* Remplacez le chemin par votre propre image */
    background-size: cover;
  }
  
  .container {
    text-align: center;
  }
  
  .horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between; 
    margin-bottom: 0px;
    font-size: 20px;

  }

  #answer {
    padding: 0px;
    font-size: 20px; /* Taille de police très grande */
    margin-bottom: 0px; /* Marge en bas pour l'espace visuel */
    border: none;
    outline: none;
  }
  
  #result {
    color: red;
  }

#multiplication {
  font-size: 20px; /* Taille de police très grande */
  font-style: bold;
  margin-bottom: 5px; /* Marge en bas pour l'espace visuel */
  background-color: chocolate;
}


.progress-bar {
  background-color: #4caf50;
}